body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1ICCxbGot8BJWxTVZcOGDEWTvtUP3C-hzvgQQwRyKQVXg1xoJ")
}
main {
    border: 10px solid brown;
    margin: 5%;
    text-align: center;
    background-color: lightsalmon;
}
img {
    background-color: violet;
    padding: 30px;
    border: 10px solid purple;
}
p {
    color: lightcyan;
}
.right {
    margin-left: 280px;
}
.left {
    margin-right: 280px;
}
#heads {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}
span {
    font-style: italic;
    font: bold;
    color: black;
}